/**
 * Bootstrap rules 768px, 992px and 12000px grid system
 * But for other standard devices like smartphones and tablets,
 * iphtone 4 (max-width 320px) && (max-height 480)
 * iphone 5 (max-width: 320px) && (max-height: 568)
 * iphone 6 (max-width: 375px) && (max-height: 627)
 * ipad (max-width 768px) && (max-height: 1024)
 */

/**
 * All other devices
 */
@media only screen and (max-width: 620px) {
	.result-category {
		padding-left: 30px;
	}
	.result-category {
		background-position: 27px 6px;
		background-size: 30px 30px;
	}
	.result-img {
		width: 13%;
	}
	.result-title {
		width: 85%;
		float: right !important;
	}
	.result-category ul li .result-title a {
		font-size: 20px;
	}
	.search-results-wrapper {
		margin-top: 30px;
		padding-right: 44px;
	}
}

@media (max-width: 711px) {
	.wrapper-logo {
		right: 10px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

}
/*@media (max-width : )*/
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.wrapper-log {
		position: absolute;
		top: 70px;
		margin-left: 150px;
	}
	.search-action .wrapper-logo {
		height: 126px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 12000px) {
}
@media only screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.container-fluid {
		padding: 0 30px;
	}
}

@media only screen and (max-width: 400px) {
	.container-fluid {
		padding: 0 15px;
	}
	.wrapper-logo {
		width: 257px;
	}
	.result-category ul {
		padding-left: 10px;
	}
	.search-results-wrapper {
		margin-top: 30px;
		padding-right: 0px;
	}
	.result-category {
		background-position: 0px 6px;
		background-size: 30px 30px;
	}
}
