.k-color-search {
	color : #b53913;
	font-style: normal;
	margin-left: -5px;
}
.filter-status{
	border-top: 1px solid #E7E7E7;
	margin-top: 10px;
	border-bottom: 1px solid #E7E7E7;
	padding: 2px 0 2px 0
}
.filter-status > span {
	margin-left: 18px;
}

.after-search{
  background: rgba(194,187,202,0.78);
}

/**************************************************************
 * search
 **************************************************************/

.search-action .wrapper-logo {
	height: 85px;
}


/**************************************************************
 * results
 **************************************************************/

.search-results-wrapper
{
    margin-top:30px;
    padding-right:70px;
}

.result-category
{
    padding-left:85px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 40px 0px;
}

.result-category ul li:last-child
{
    border-bottom:1px solid #b97b57;
}

.facebook-results
{
    background-image: url('../img/facebook.png');
}

.duckduckgo-results {
	background-image: url('../img/duckduckgo.png');

}

.twitter-results {
    background-image: url('../img/twitter.png');
}

.result-category ul li
{
    list-style-type: none;
    padding: 5px;
    margin-bottom: 10px;
}
.result-category ul li:hover
{
    background: rgba(255,255,255,0.5)
}
.result-category ul li .result-img,.result-category ul li .result-title
{
    float:left;
}

.result-category ul
{
    padding-left:45px;
}

.result-category ul li .result-title a
{
    font-size: 29px;
    font-family: "lato";
    padding-left: 10px;
    line-height: 29px;
    color: #000;
}
.result-category ul li .result-excerpt
{
    clear:both;
    font-size: 13px;
    font-family: "lato";
    line-height: 16px;
    padding:5px 0 0
}

li{
      list-style-type: none;
      margin: 0 0 15px 0;
}
.newsResult :hover{

    background: rgba(255,255,255,0.5)
}
.result-title a{
    font-size: 20px;
    font-family: "lato";
    padding-left: 10px;
    line-height: 29px;
    color: #000;
}
.result-excerpt{
    clear:both;
    font-size: 13px;
    font-family: "lato";
    line-height: 16px;
    padding:5px 0 0;
    text-indent: 40px;
}
/* PAGINATION */
.pagination{
	position: relative;
	left: 30%;
}

iframe {
	width: 500px;
	height: 500px;
}
