/**
 * The main wrapper that wraps around
 * the entire layout of the search form
 */
.form-wrapper {
	width: 700px;
	height: 100px;
	margin-top: 50px;
	padding-top: 34px;
	padding-left: 15px;
}
 /**
 * Search input design
 */ 
.search {
	width: 600px;
	height: 35px;
	margin-top: 1px;
	border-radius: none;
}

#search-input[type="text"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2x #c9c9c9;
	transition: border 0.3s;
}
#search-input[type="text"]:focus,
#search-input[type="text"].focus{
	border-bottom: solid 2px #969696;
}
