/*********************************************************
 * Main styles that will render on the entire page layout
 * as body,p,h,nav,section tags or *
 *********************************************************/
body {
	background: url("../img/bg-image.jpg");
	background-size: cover;
}
.container {
    background:rgba(194,187,202,0.78)
}
/**********************************************************
 * Main styles for logo, logo wrappers bottom-logo-text etc.
 *
 *********************************************************/
.wrapper-logo {
	position: relative;
	top: 0px;
	width: 300px;
	height: 300px;
}
.logo {
	width: 80px;
	height: 80px;
	background: url("../img/logo.svg") no-repeat center;

}
.bottom-logo-text {
    margin-left: 5%;
    position: relative;
    bottom: 12px;
    font-size: 20px;
}
.k-color {
	color : #b53913;
	display: inline-block;
	margin-left: 0px;
}

.btn-green
{
    background-color:#59c699 ;
    color:#fff;
}

form input[type="text"]
{
    color:#000;
    font-family: "Lato";
    font-size:29px;
}





/**********************************************************
 * Main styles for the navigation system, button nav
 * nav menus etc.
 **********************************************************/
.menu-button{
	border: 0;
	margin-top: 10%;
	padding: 5px 10px;
	background-color: #F7F7F7;
	color: #696969;

}

.menu-button:active,
.menu-button:hover,
.menu-button:focus
.menu-button:active:focus{
	background-color: #200a05;
	color: #fff;
	border-radius: 0;
}

.menu {
	overflow-x: hidden;
	position: relative;
	right: 0;
}

.menu-open {
	right: 210px;
}

.menu-side, .menu {
	transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	-webkit-transtion: right 0.3s ease;
	-ms-transtion: right 0.3s ease;
	-moz-transition: right 0.3s ease;

}

.menu-open .menu-side {
	right: 0;
}

.menu-side {
	background-color: #200a05;
	color : #fff;
	box-shadow:0 0 1px 1px #888;
	position: fixed;
	top: 0;
	/**Hide the navigation*/
	right: -209px;
	width: 210px;
	height: 100%;
	padding: 10px;
	/*just to make the navbar above the search bar*/
	z-index: 10;
}
.hide-menu-button {
	display: none;
}

.menu-close {
	border: 0;
	margin-top: 6%;
	padding: 5px 10px;
	background-color: #200a05;
	color: #fff;
	margin-right: 6px;
	cursor: pointer;
}

.list-menu {
    margin-left: 10px;
	margin-top: 20%;
    list-style-type: none;
    padding-left: 0;
}
.heading-menu {
	/*margin-top: 67%;*/
	background-color: blue;
}
.list-menu > li {
	/*padding-top: 50px;*/
	/*color : #646464;*/
}
.list-menu > li>a {
	color: #fff;
	font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.close-menu
{
    font-size:20px;
}

.btn-default:focus, .btn-default.focus {
	 color: #fff;
	 background-color: #e6e6e6;
	 border-color: #8c8c8c;
}

/***********************************************************
 * Main styles for search the actual search bar,
 * wrapper search bars etc..
 ***********************************************************/
.custom-search-input button {
	border-color: #fff;
	color: #999996;
	border-radius: 0;
	padding: 9px 13px 9px 13px;
	left: -44px;
}

.input-group {
    margin-left: 20px;
}
.form-control{
	border-radius: 0;
}
.custom-search-input button:focus,
.custom-search-input button:hover,
.custom-search-input button:active {
	background-color: #b05d39;
	color: #fff;
}
.btn-default:active:focus{
	color: #fff;
	background-color: #200a05;
	border-color: #200a05;
	outline: none;
}
.search-bar {
	box-shadow: none;
	height: 50px;
}
.search-bar:focus,
.search-bar:active {
	box-shadow: none;
	outline: none;
	border-color: rgba(105, 105, 105, 0.44);
}
/**************************************************************
 * Main style for text wrappers, fields that contain text
 * styles , fonts for text etc..
 **************************************************************/
.wrapper-text {
	margin-top: 40px;
	padding-right: 20px;
}
.container-padding {
	margin-bottom: 335px;
}
.menu button {
	background: none;
	color: #6f242b;
	font-size: 36px;
}

/**************************************************************
 * Search
 **************************************************************/

.search-action .wrapper-logo {
	height: 85px;
}

/**************************************************************
 * Results
 **************************************************************/

.search-results-wrapper
{
    margin-top:30px;
    padding-right:70px;
}

.result-category
{
    padding-left:85px;
    margin-bottom: 8px;
    border-bottom:1px solid #b97b57;
    background-repeat: no-repeat;
    background-position: 40px 0px;
}

.web-results
{
    background-image: url('../img/web.png');
}

.company-results{
    background-image: url('../img/company.png');
}

.others-results{
    background-image: url('../img/others.png');
	margin-bottom: 70px;
}

.result-category ul li
{
    list-style-type: none;
    padding:5px;
    margin-bottom: 10px;
}
.result-category ul li:hover
{
    background:rgba(255,255,255,0.5)
}
.result-category ul li .result-img,.result-category ul li .result-title
{
    float:left;
}

.result-category ul
{
    padding-left:45px;
}

.result-category ul li .result-title a
{
    font-size: 29px;
    font-family: "Lato";
    padding-left: 10px;
    line-height: 29px;
    color: #000;
}
.result-category ul li .result-excerpt
{
    clear:both;
    font-size:13px;
    font-family: "Lato";
    line-height: 16px;
    padding:5px 0 0
}