*{
	margin:0;
	padding:0;
}

body{
	font-size:15px;
	color:#eee;

	background:url('img/bg.jpg') repeat-x #718693;
}

#page{
	width:620px;
	margin: 100px auto 0;
}

#searchForm{
	position: relative;
	background-color:#4C5A65;
	padding:50px 50px 30px; /*top left/right bottom*/
	margin: 80px 0; /* top/down left/right */

	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border-radius:16px;
}

fieldset{
	border:none;
}

#s{
	border:none;
	color:#888888;
	background:url("img/searchBox.png") no-repeat;

	float:left;
	font-size:15px;
	height:36px;
	line-height:100px; /*spatiul dintre linii */
	margin-right:12px;
	padding:0 0 0 35px;
	text-shadow: 1px 1px 0 white;
	width:385px;
}

.icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

.icons li{
	background:url("img/icons.png");
	float:left;
	height:19px;
	text-indent:-9999px; /*hide text*/
	cursor:pointer;
	margin-right:5px;
}

li.web{width:15px;}
li.web.active, /*select/style active link - un link devine activ cand dam click*/
li.web:hover{background-position:left bottom;}

li.images{width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{background-position:-18px bottom;}

li.news{width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{background-position:-44px bottom;}

li.videos{width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{background-position:right bottom;}

/*The little arrow that moves below the icons*/
span.arrow{
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	background:url('img/arrow.png') no-repeat;
	position:absolute;
	left:0;
}

/*Submit button*/
#submitButton{
	background:url('img/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px; /*ascunde textul(submit)*/
	overflow:hidden; /*ascundem continutul ce depaseste elementul */
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}
#submitButton:hover{
	background-position:left bottom;
}

/*web radio buttons */
#searchInContainer{
	float:left;
	margin-top:12px;
	width:330px;
}
label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:12px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right: 10px;
	white-space::nowrap; /*textul continua pe aceeasi linie pana intalneste <br> */	
}
input[type=radio]{
	cursor:pointer;
}

/*Styling the search results*/
.pageContainer{ /* retine fiecare pagina cu rezultatele cautarii */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;

	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}

p.notFound{
	text-align:center;
	padding:0 0 40px;
}
